# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Environment
.env
.venv/
.env.*

# Notebooks
*.ipynb_checkpoints

# VSCode or JetBrains IDE
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db
